@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Inter:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.hero-section {
    display: flex;
    margin: 20px;
    height: 70vh;
    padding: 20px;
    border-radius: 10px;
}

.hero-text{
    width: 500px;
    font-family: "Poppins", san-serif;
    margin-left: 40px;
}
.hero-text h1{
    font-size: 68px;
    margin-top: 60px;
    font-weight: 500;
}
.hero-text p{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    margin-top: -40px;
    color: rgb(112, 112, 112);
    font-weight: 500;
    line-height: 43px;
}
.hero-images{
margin-left: 200px;
margin-top: 83px;
position: relative;
}
.curved-image-container1 {
overflow: hidden; /* This is important to ensure the image doesn't spill out of the rounded corners */
border-radius: 90% 0 0 0; /* This applies a 50% border radius to the top left corner */
width: 170px; /* Adjust the width as needed */
height: 200px; /* Maintain the aspect ratio of the image */
}
   
.curved-image-container1 img {
width: 100%;
height: 200px;
object-fit: cover;
}
.curved-image-container2 {
overflow: hidden; /* This is important to ensure the image doesn't spill out of the rounded corners */
border-radius: 0 100% 0 0; 
margin-left: 10px;
width: 170px; /* Adjust the width as needed */
height: 200px; /* Maintain the aspect ratio of the image */
}
   
.curved-image-container2 img {
width: 100%;
height: 200px;
object-fit: cover;
}
.top-frame{
    display: flex;
}

.curved-image-container3 {
overflow: hidden; /* This is important to ensure the image doesn't spill out of the rounded corners */
border-radius: 3px; 
width: 170px; /* Adjust the width as needed */
height: auto; /* Maintain the aspect ratio of the image */
margin-top: -10px;
}
    
.curved-image-container3 img {
width: 100%;
height: 200px;
object-fit: cover;
}
.curved-image-container4 {
overflow: hidden; /* This is important to ensure the image doesn't spill out of the rounded corners */
border-radius: 3px; 
margin-left: 10px;
width: 170px; /* Adjust the width as needed */
height: auto; /* Maintain the aspect ratio of the image */
margin-top: -45px;
}
    
.curved-image-container4 img {
width: 100%;
height: 240px;
object-fit: cover;
}
.bottom-frame{
display: flex;
margin-top: 15px;
}
.card-container{
position: absolute;
top: 50%;
left: 80%;
}
.decorative-search-bar{
width: 200px;
height: 250px;
padding: 5px;
position: absolute;
top: 20%;
right: 45%;
box-shadow: inset;
}


:where(.css-dev-only-do-not-override-1k979oh).ant-input-outlined.ant-input-disabled, :where(.css-dev-only-do-not-override-1k979oh).ant-input-outlined[disabled] {
color: rgba(0, 0, 0, 0.25);
background-color: white;
border-color: #d9d9d9;
width: 350px;
box-shadow: none;
cursor: not-allowed;
opacity: 1;
}
.search-bar-container{
position: absolute;
top: 20%;
right: 45%;
box-shadow: inset;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-card .ant-card-body {
padding: 0px;
padding-top: 5px;
padding-left: 6px;
border-radius: 0 0 8px 8px;
}
:where(.css-dev-only-do-not-override-1k979oh).ant-input-outlined.ant-input-disabled, :where(.css-dev-only-do-not-override-1k979oh).ant-input-outlined[disabled] {
color: rgba(0, 0, 0, 0.25);
background-color: white;
border-color: #d9d9d9;
width: 300px;
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(0,0,0,0.15);
cursor: not-allowed;
border-radius: 28px;
opacity: 1;
}